.footer{
    background-color: #fafafa;
}
.Main-Footer{
    width: 1350px;
    height: 660px;
    top: 3754px;
    gap: 0px;
    opacity: 0px;

}


.footer-heading{
    font-family: Paytone One;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    text-align: center;
    color: #12141D;

}
.text{
    color: black;
    font-weight: 600;
   
    margin: 20px;
}
.Side-icon{
    
    
    font-size: 20px;
}
.Nav-bt{
    padding-top: 150px;
}
.padding-icon{
    color: black;
    margin: 10px;
   

}

.orange-underline {
    width: 1090px;
    height: 2px;
    background-color: blue;
    margin: 0 auto;
}
.right-text{
    text-align: right;
}
.Side-text{
   
    padding: 30px;
    text-align: left;
}

.menu{
    padding: 30px;
}